/* Root font-size on the document level */
/* default 1em = 16px */
html {
    font-size: 20px;
  }
  
  .font_px {
    font-size: 22px;
    color: hsla(0, 55%, 60%, 0.952);
  }
  .font_rem {
    font-size: 1.5rem; /* 1.5 x 20px = 30px;*/
    color: hsla(120, 45%, 45%, 0.911);
  }
  
  section {
    font-size: 36px;
  }
  .font_em {
    font-size: 1em; /* 1 x 36px = 36px */
    color: hsla(240, 56%, 56%, 0.959);
  }